# Pacotes de baixo nível específicos para Raspberry Pi e GPIO
gpiozero

# Gerenciamento de câmera libcamera (somente na Raspberry Pi OS)
picamera2

# Manipulação de imagens e visão computacional
opencv-python

# Biblioteca de manipulação de imagens (substitui 'pilow')
Pillow

rpi.gpio
picamera2
opencv-python
numpy
